.product-detail {
    margin-bottom: 20px;
    padding-left: 0 !important;
    padding-right: 0 !important;

    @include laptop-sm {
        margin-top: 2rem;
    }

    .magnifier {
        > img {
            width: 100%;
            max-height: 500px;
            object-fit: cover;
        }
    }

    img {
        // width: 100%;
        // height: 100%;
    }

    .right {
        @extend .fs16;

        @include laptop-sm {
            padding-left: 2rem;
        }

        > div {
            @extend .mb20;

            // border-bottom: 1px solid $border-common;

            &.attributes {
                .attribute {
                    margin-bottom: 20px;
                    width: 100%;
                    margin-right: 1rem;
                    @include laptop-sm {

                        .custom-form {
                            display: inline-block;
                            width: 40%;
                        }
                    }
                    label {
                        display: block;
                    }

                    &:last-child {
                        margin-bottom: 30px;
                        margin-right: 0rem;
                    }
                }
            }
        }

        > div:not(:first-child) {
            @extend .ml0;
        }

        .category-breadcrumb {
            margin-left: 0;
            padding: 0 15px;
        }

        .reviews {
            vertical-align: top;

            > div {
                display: inline-block;
            }
        }

        .info {
            @extend .mb15;
            margin-left: 0px;

            > h2,
            div {
                padding-left: 0px;
            }

            > * {
                margin-bottom: 10px;
            }

            h2 {
                @extend .fw6;
                @extend .fs24;
            }

            .price {
                @extend .fw5;
                @extend .fs20;

                .card-current-price {
                    @extend .fs30;
                }
            }
        }

        .options {
            > * {
                @extend .mb20;
            }

            label {
                @extend .display-block;
            }

            .quantity {
                > label {
                    @extend .mr15;
                    @extend .display-inbl;
                }
            }

            .box {
                width: 32px;
                height: 32px;
                display: inline-block;
                background-color: $border-common;
            }

            .buttons {
                *:not(:last-child) {
                    @extend .mr15;
                }
            }
        }

        h3 {
            @extend .fw6;
            @extend .fs18;
            @extend .no-padding;

            margin-bottom: 0px;
        }

        h4 {
            @extend .fw6;
        }

        .row {
            &.reviews {
                .reviews-text {
                    line-height: 3rem;
                }
            }
        }

        .customer-reviews {
            .row {
                @extend .mb30;
            }
        }

        .add-to-cart-btn {
            padding: 0px;

            button {
                padding: $input-btn-padding-y $input-btn-padding-x * 3.5;

                span {
                    top: 0;
                    font-size: 16px;
                }
            }
        }

        .product-price {
            .sticker {
                display: none;
            }
        }

        .quantity {
            width: unset;
        }

        .form-group {
            label {
                display: block;
            }

            .radio {
                margin-right: 10px;

                input[type="radio"] {
                    margin-left: 0;
                    position: static;
                }

                .radio-view {
                    display: none;
                }
            }
        }
    }

    .thumb-list {
        left: 15px;
        z-index: 99;
        padding: 0px;
        overflow: hidden;
        margin-top: 10px;
        position: relative;

        .arrow {
            left: 0px;
            height: 100%;
            z-index: 1001;
            opacity: 0.5;
            margin-top: 5px;
            cursor: pointer;
            position: absolute;
            line-height: 13em;
            background: $border-dark;

            &.right {
                right: 0;
                left: unset;
                line-height: 13rem;
            }
        }

        .thumb-frame {
            padding: 1px;
            border: 1px solid transparent;

            &.active {
                border: 1px solid $primary;
                border-radius: $border-radius;
            }

            > .bg-image {
                width: 100%;
                height: 6rem;
                background-size: 100% 100%;
                object-fit: cover;
            }
        }
    }

    .product-actions {
        > div {
            display: inline-block;
            width: 100%;

            @include laptop-sm{
                width: inherit;
            }

            .add-to-cart-btn {
                float: left;
            }

            .compare-icon,
            .wishlist-icon {
                margin-left: 1rem;
                border: solid 1px $gray-400;
                border-radius: $border-radius;
                padding: $input-btn-padding-y $input-btn-padding-x;

                i {
                    display: table-cell;
                    vertical-align: middle;
                }
            }

            .compare-icon {
                display: inline-table;
            }

            .wishlist-icon {
                float: right;
            }
        }
    }

    .layouter,
    #product-form {
        height: 100%;
    }

    #product-form {
        .form-container {
            height: 100%;
            position: relative;

            > .left {
                top: 60px;
                padding: 0px;
                position: sticky;

                .product-image-group {
                    > div {
                        margin: 0;
                        padding: 0;
                    }

                    .availability {
                        position: absolute;
                        z-index: 15;
                        top: 5px;
                        right: 5px;

                        button {
                            border: none;
                            font-weight: 600;

                            &.active {
                                background: $secondary;
                            }
                        }
                    }

                    .img-container {
                        max-width: 100%;
                        margin-bottom: 0;
                        height: 18rem;
                        position: relative;

                        @include laptop-sm {
                            max-width: 95%;
                            height: 500px;
                        }

                        .vc-small-product-image {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            .right {
                .swatch-container {
                    margin-top: 10px;
                    display: inline-block;

                    .swatch {
                        display: inline-block;
                        margin-right: 5px;
                        min-width: 40px;
                        height: 40px;

                        span {
                            min-width: 38px;
                            height: 38px;
                            float: left;
                            border: 1px solid #c7c7c7;
                            border-radius: 3px;
                            line-height: 36px;
                            text-align: center;
                            cursor: pointer;
                            padding: 0 10px;
                        }

                        img {
                            width: 38px;
                            height: 38px;
                            border: 1px solid #c7c7c7;
                            border-radius: 3px;
                            cursor: pointer;
                            background: rgb(242, 242, 242);
                        }

                        input:checked + span,
                        input:checked + img {
                            border: 1px solid #242424;
                        }

                        input {
                            display: none;
                        }
                    }

                    .no-options {
                        color: rgb(251, 57, 73);
                    }
                }
            }
        }
    }

    .accordian {
        &.active {
            .accordian-header {
                padding-bottom: 0px;
            }
        }
    }

    .full-description {
        font-size: 14px;
    }

    .full-specifications {
        tr {
            td:first-child() {
                width: 100px;
            }
        }
    }

    select[disabled="disabled"] {
        cursor: not-allowed;
        border-color: $border-dark;
        background-color: $border-dark;
    }
}

.store-meta-images {
    margin-top: 20px;

    img {
        width: 100%;
        height: 100%;
        max-height: 300px;
    }
}

.related-products {
    margin-bottom: 60px;
}
