.reinabatata-icon {
    width: 45px;
    height: 47px;
    display: inline-block;
    background-size: cover;
    background-image: url("../images/ReinaBatata-outline.svg");
}

.router-link-active,
.active {
    .reinabatata-icon {
        background-image: url("../images/ReinaBatata-outline-Active.svg");
    }

    &.reinabatata-icon {
        background-image: url("../images/ReinaBatata-outline-Active.svg");
    }
}