@import "mixins";
.reinabatata-icon {
    width: 40px;
    height: 42px;
    display: inline-block;
    background-size: cover;
    background-image: url("../images/ReinaBatata-outline.svg");
}

.router-link-active,
.active {
    .reinabatata-icon {
        background-image: url("../images/ReinaBatata-outline-Active.svg");
    }

    &.reinabatata-icon {
        background-image: url("../images/ReinaBatata-outline-Active.svg");
    }
}

.mercadopago-img {
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/mercadopago.svg");
}

.error-ilustration {
    width: 25rem;
    height: 20rem;
    display: inline-block;
    background-size: cover;
    background-image: url("../images/404-error.svg");

    @include laptop-sm {
        height: 25rem;
    }
}
