@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");
//reinabatata variables

$body-color-light: $gray-700;
$border-primary: $primary;
$button-danger: $red;
$border-danger: $red;
$color-danger: $red;
$border-common: #cccccc;
$border-dark: $gray-400;
$border-light: #ececec;
$border-general: #e5e5e5;
$theme-dark-color: $primary;
$btn-text-color: #ffffff;
$light-color: #ffffff;
$dark-color: #000000;
$light1-black: #141516;
$light2-black: #cfcfd0;
$link-color: $primary;
$light-link-color: $primary;
$grey-clr: rgba(0, 0, 0, 0.53);
$light-grey-clr: rgb(158, 158, 158);
$light-background: #f7f7f9;
$sidebar-width: 230px;
$material-icons-font-path: "../material-icons/iconfont/" !default;
$border-normal: 1px solid $border-dark;

$font-family-pro: "Raleway", "Caveat", sans-serif;
