@import "mixins";
.reinabatata-icon {
    width: 60px;
    height: 55px;
    display: inline-block;
    background-size: cover;
    background-image: url("../images/Icon-ReinaBatata.svg");
}

.router-link-active,
.active {
    .reinabatata-icon {
        background-image: url("../images/Icon-ReinaBatata-Active.svg");
    }

    &.reinabatata-icon {
        background-image: url("../images/Icon-ReinaBatata-Active.svg");
    }
}

.error-ilustration {
    width: 25rem;
    height: 20rem;
    display: inline-block;
    background-size: cover;
    background-image: url("../images/404-error.svg");

    @include laptop-sm {
        height: 25rem;
    }
}
